
body {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  padding: 0px;
  text-align: center;

}
.visually-hidden {
  position: absolute;
  font-size: 1px;
  color: transparent;
}

.header {
  background-color: #f3f7f9;
  padding-bottom: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.header-top {
  text-align: center;
  background-color: #293449;
  width: 100%;
  margin-top: 0px auto;
}

.logo {
  font-size: 24px;
  background-color: #ee3643;
  width: 220px;
  /* height: 4px; */
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 56px;
  padding-right: 55px;
  text-align: center;
  vertical-align: center;
  border-bottom:  5px #b52933 solid;
}

.top-align {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
}

.top-align-undeline {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  /* border: 1px solid black; */
}

/* .logo-underline {
  width: 220px;
  height: 5px;
  background-color: #b52933;
} */

.icon-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.cart {
  align-self: center;
  width: 140px;
  /* padding-left: 10px; */
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 13px;
  flex-grow: 0;

}

.active {
  align-self: center;
  width: 140px;
  /* padding-left: 10px; */
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 13px;
  flex-grow: 0;
  background-color: #ee3643;
}

.placement {
  margin-right: auto;
}
.bookmark-placement{
  margin-right: 2px;
}

.internal-content {
  margin-right: 30px;
}

.small-icon {
  /* margin-left: 15px; */
  margin-right: 15px;
  align-self: center;
  object-fit: cover;
}

a {

  color: white;
  text-decoration: none;
}

.search-input {
  color: white;
  font-size: 17px;
}

.search-logo {
  /*  */
}

.header-button {
  background-color: #63a63e;
  padding-left: 20px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 13px;
  /* height: 42px; */
  /* margin-bottom: auto; */
  /* border-bottom: 1px #B52933 solid; */

}

.header-info {
  text-align: center;

  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-middle-align {
  margin-top: 46px;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 0px;
  /* border: 1px solid black; */
}

.header-title-section {
  margin-left: 50px;
  align-self: center;
  display: inline-block;
  border: 1px solid black;
  padding: 0px;
  vertical-align: top;
  margin-top: -8px;
}

.header-contacts {

  margin-left: 90px;
}

.header-user-nav {

}


.header-title {
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}



.telephone {
  border: 3px white solid;
  width: 270px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 21px;
  color: #ee3643;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-user-nav {
  width: 300px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-user-nav a {
  color: #32425c;
  text-decoration: underline;
}

.signin-button {
  color: black;
  display: block;
}

.signin-button a {
  color: inherit;
  font-size: 21px;
  text-decoration: none;
}


.header-user-btn {
   color: black;
   background-color: white;
   font-size: 21px;
}

.header-user-btn-signin {
  border: 0px;
  padding-left: 45px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  background-image: url("../img/icon-login.png");
  background-repeat: no-repeat;
  background-position: 10% 50%;

}

.header-user-btn-signup {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation-section {
  text-align: center;
}

.navigation {
  width: 896px;
  display: flex;
  padding-left: 21px;
  padding-right: 23px;
  padding-top: 19px;
  padding-bottom: 17px;
  flex-direction: row;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.bread-crumps {
  display: flex;
  width: 940px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bread-link {
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  margin-right: 15px;
}

.index-main {
  text-align: center;
}

.space {
  margin-left: 15px;
}

.products {
  text-align: center;
  margin-bottom: 32px;
}

.product-frame {
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
  margin-bottom: 53px;
  width: 940px;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: stretch; */
  align-items: flex-start;

  /* border: 1px solid blue; */
}

.product-inner-frame {
  display: block;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 1px solid black; */
  width: 125px;
  text-align: center;
  margin-top: 15px;
  margin-left: 22px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.09);
  border: 5px rgba(0, 0, 0, 0.00) solid;
  border-radius: 2px 2px;
}


h3 .product-cell, h3 .drill-title  {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.product-cell {
  display: block;
  width: 300px;
  height: 123px;
  text-align: left;
}

.product-cell-text {
  margin-top: 23px;
  margin-left: 23px;
  font-weight: normal;
  font-size: 25px;
  color: white;
}

.material {
  background-color: #FFBF47;
  background-image: url("../img/icon-material.png");
  background-repeat: no-repeat;
  background-position: 83.25% 53%;
}

.tools {
  background-color: #3BBCE3;
  background-image: url("../img/icon-tools.png");
  background-repeat: no-repeat;
  background-position: 87.5% 53.5%;
}

.heavy-tools {
  background-color: #DC91D8;
  background-image: url("../img/icon-heavy-tools.png");
  background-repeat: no-repeat;
  background-position: 86% 51.5%;
  margin-right: 0px;
  margin-bottom: 20px;
}

.drill {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 266px;

  background-image: url("../img/drill-background.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  /* background-position: 50% 50%; */
  margin-right: 20px;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-bottom: auto; */
  /* border: 1px red solid; */

}

.drill-text {
  margin-top: -13px;
  margin-left: 25px;
  font-size: 18px;
  color: white;
  text-align: left;
}

.drill-title {
  margin-top: 40px;
  margin-left: 25px;
  text-align: left;
  font-size: 36px;
  line-height: 0px;
  color: white;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.inner-drill {
  /* display: block; */

}

.inner-upper-drill-section {
  border: 1px blue solid;
}
.inner-middle-drill-section {
  border: 1px yellow solid;
}

.inner-slider-button-right {


}

.inner-upper-drill-section {
  /* padding-top: 20px; */

}

.second-inner-block {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inner-bottom-drill-section {
  display: block;
  margin-left: 25px;
  margin-bottom: 27px;
  border: 1px black solid;
}

.discounts {
  background-color: #8ED78F;
  margin-left: auto;
  margin-bottom: 20px;
  background-image: url("../img/discount-icon.png");
  background-repeat: no-repeat;
  background-position: 81.5% 51%;
}

.delivery {
  background-color: #FFC047;
  background-image: url("../img/delivery-icon.png");
  background-repeat: no-repeat;
  background-position: 86% 53%;
  /* margin-left: auto; */
}

.second-block {
  /* border: 1px solid green; */
}

.popular-goods {
  text-align: center;
}

.section-header {
  /* padding-left: 30px; */
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #F9F5F0;
  /* border: 1px black solid; */
  margin-bottom: 20px;
}

.button {
  background-color: #EE3643;
  width: 140px;
  border: 5px #EE3643 solid;
  border-radius: 5% 5%;
  text-align: center;
  margin-bottom: 20px;
}

.align-element {
  /* border: 1px solid black; */
  /* display: inline-block;
  vertical-align: center; */
}

.align-element:first-child {
 margin-right: 269px;
}

.align-element:last-child {
 margin-right: 24px;
}

.in-section-title {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #32425C;
  padding-left: 28px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.popular-products {
  /* border: 1px black solid; */
  margin: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.product-text {
  font-size: 18px;
}


.old {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #A9A9A9;
  text-decoration: line-through;
  margin-bottom: 20px;
}
.popular-product-element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
  width: 218px;
  height: 296px;
  margin-right: 20px;
  border: 1px #EAEAEA solid;
}
.popular-product-element:first-child  {
  margin-left: 0px;
}

.popular-product-element:last-child  {
  margin-right: 0px;
}

.brands {
  width: 940px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.brand-cell {
  display: flex;
  width: 218px;
  height: 143px;
  justify-content: center;
  align-items: center;

  /* display: inline-block; */
  border: 1px solid #EAEAEA;
  margin-bottom: 20px;

}

/* .brand-cell:nth-child(5), .brand-cell:nth-child(6), .brand-cell:nth-child(7), .brand-cell:nth-child(8) {
  margin-right: 20px;
  margin-top: 20px;
} */

/* .brand-cell:nth-child(4) {
  margin-right: 0px;
}

.brand-cell:nth-child(8) {
  margin-right: 0px;
} */
a.logo-icon {
  /* border: 1px pink solid; */
  /* margin-top: center;
  margin-bottom: center;
  vertical-align: center; */
}

img.logo-icon {
  margin-top: center;
  margin-bottom: center;
  vertical-align: center;
  image-position: 50% 50%;
}

.services {
  margin: auto;
  width: 100%;
  background-color: #F4F7F9;
  display: table;
  text-align: center;
  margin-bottom: 82px;
}

.service-alignment {
  width: 940px;
  display: block;
  margin: auto;
  text-align: left;
  /* border: 1px solid black; */
  padding-bottom: 95px;
}


.upper-block {
  /* border: 1px solid black; */
  margin-top: 68px;
  width: 400px;
  height: 100px;
  display: block;
  padding: 1px;
}

.services-header {
  text-align: left;
  margin: 1px;
  text-transform: uppercase;
}

.services-paragraph {
  text-align: left;
}

.service {
  color: black;
}

.list-button-block {
  text-align: left;
  margin: auto;
  margin-top: 74px;
  margin-left: 0px
  margin-bottom: 99px;
  /* border: 1px black solid; */
  width: 240px;
  height: 183px;
  display: inline-block;
  vertical-align: top;
}

.button-action-block  {
  padding: 1px;
  margin-top: 74px;
  margin-left: 80px;
  width: 280px;
  height: 150px;
  /* border: 1px black solid; */
  display: inline-block;
  vertical-align: top;
}

.about {
  /* margin: auto; */
  text-align: center;
}

.about-align {
  width: 949px;
  text-align: left;
  padding-bottom: 87px;
  /* border: 1px black solid; */
  display: table;
  margin: auto;
  vertical-align: top;
}

.about-left {
  width: 522px;
  height: 322px;
  display: inline-block;
  /* border: 1px black solid; */
  text-align: left
  padding: 1px;
  vertical-align: top;
}

.about-right {
  margin-left: 121px;
  width: 300px;
  height: 367px;
  display: inline-block;
  /* border: 1px black solid; */
  text-align: left
  padding: 1px;
  vertical-align: top;
}

.index-footer {
  text-align: center;
  background-color: #32425C;
  font-size: 18px;
}

.footer-information {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid red; */
  margin-bottom: 37px;
}

.footer-logo {
  margin-top: auto;
  font-size: 30px;
  background-color: #ee3643;
  width: 220px;
  /* height: 4px; */
  padding-top: 16px;
  padding-bottom: 13px;
  text-align: center;
  vertical-align: center;
  border-bottom:  5px #b52933 solid;
}

.footer-address, .footer-text, .feedback {
  text-align: left;
  color: white;
}

.footer-address {

  margin-top: 30px;
}

.footer-upper-part-align {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upper-footer-navigation{
  display: inline-block;
  padding-top: 32px;
  padding-left: 55px;
  /* border: 1px yellow solid; */
}

.upper-footer-links {
  margin-top: 15px;
  margin-left: 54.5px;
}

.footer-middle-part {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-flex-start;
}

.block-footer {
  /* display: inline-block; */
  /* vertical-align: top; */
}

.lower-footer {
  background-color: #293449;
  width: 100%;
  font-size: 16px;
  /* text-align: center; */
}

.lower-footer-section {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 107px;
}

.lower-footer-navigation, .email {
  color: #FFD180;
}

.lower-footer-navigation {
  margin-top: 30px;
}

.footer-rights {
  text-align: left;
  /* display: inline-block; */
  /* border: 1px yellow solid; */
}

.footer-social {
  display: flex;
  margin-left: auto;
  margin-right: 89px;
}

.social{
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-top: 5px;
}

.social-decoration {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #212a3a;
  width: 30px;
  height: 30px;
  border: 5px solid #212a3a;
  border-radius: 50%;
  margin: 2px;
  text-align: center;
}
.footer-developer {
  /* display: inline-block; */
  /* border: 1px yellow solid; */
}
.feedback {
  text-align: left;
  margin-left: 30px;
  margin-right: 14px;
  /* display: inline-block; */
}

.catalog {
  background-color: #f2f6f8;
}

.drill-tool {
  width: 940px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.filter {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 20px;
}

.sort-filter {
  width: 220px;
  display: flex;
  flex-direction: column;

  /* align-content: center; */
  align-items: stretch;
  flex-grow: 0;
  border-bottom: 2px #f7f3ec solid;
}

.sort-filter-manufacturer {
  width: 220px;
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: flex-start;
  flex-grow: 0;
  border-bottom: 2px #f7f3ec solid;
  padding-bottom: 30px;
}

.sort-filter-power {
  width: 220px;
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: flex-start;
  flex-grow: 0;
  padding-bottom: 30px;
}

.centering {
  display: inline-block;
  margin-top: 20px;
}
.sorting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 700px;
  /* border: 1px blue solid; */
}

.sorting-page {
  display: flex;
  justify-content: flex-start;
}

.page-button {
  color: black;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 11px;

  padding-left: 15px;
  padding-right: 14px;
  border: 1px #e5e5e5 solid;
  border-radius: 2px 2px;
  margin-right: 10px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  color: black;
  padding: 0;
  width: 138px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  border: 1px #e5e5e5 solid;
  border-radius: 2px 2px;
  margin-right: 10px;

}

.page-button:first-child {
  color: white;
  background-color: #ee3643;
  border: 1px #ee3643 solid;
  border-radius: 2px 2px;
}

.page-button:last-child {
  padding: 0;
  width: 138px;
  padding-top: 11px;
  text-align: center;
}

.label {

}

.goods-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 32px;
  /* border: 1px red solid; */
  /* flex-shrink: 2; */
}

.goods-text {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.new-price {
  color: white;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  width: 140px;
  background-color: #ee3643;
  border: 5px #EE3643 solid;
  border-radius: 5% 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

.good-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px #e5e5e5 solid;
  width: 218px;
  height: 316px;
  margin-bottom: 20px;
}

.good-container:first-child {
  margin-left: 0px;
  /* border: 1px green solid; */
}

.filter-header-filter {
  display: flex;
  justify-content: flex-start;
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;

}

.filter-header-price {
  padding-left: 0;
  margin-left: 0;
  margin-right: auto;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 17px;
  padding-top: 17px;
  padding-bottom: 19px;
}

.price-range {
  display: block;
  /* width: 218px; */
  padding-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: #f7f3ec;

}

.price-input {
  display: block;
  width: 95px;
  padding-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background-color: #f7f3ec;
}

.price-range-label {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* background-color: #f7f3ec; */
}


.filter-header {
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 11px;
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  align-content: stretch;
  align-content: center;
  margin-bottom: 20px;
}

.filter-price {
  color: #ee3643;
}

.filter-type {
  color: #acaaa5;
  border-bottom: 1px #ee3643 dashed;
}

.filter-function {
  color: #acaaa5;
  border-bottom: 1px #ee3643 dashed;
}
.good-info-background {
  margin-top: 60px;
  width: 100%;
  background-color: #f2f6f8;
}

.about-goods {
  width: 940px;
  padding-top: 33px;
  padding-bottom: 55px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.title-about-goods {
  font-size: 30.5px;
  text-transform: uppercase;
  /* font-family: 'PT Sans', sans-serif; */
  font-weight: normal;
}

.text-about-goods {
  margin-top: -7px;
  font-size: 13px;
  line-height: 24px;
}
