
body {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  padding: 0px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto:
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.header {
  background-color: #f3f7f9;
  padding-bottom: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-top {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  text-align: center;
  background-color: #293449;
  width: 100%;
  margin-top: 0px auto;
}

.top-align {
  width: 940px;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
}

.inner-block {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.logo {
  font-size: 24px;
  background-color: #ee3643;
  width: 110px;
  color: #fcffff;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 56px;
  padding-right: 54px;
  text-align: center;
  vertical-align: center;
  display: block;
}

.logo:hover {
  background-color: #c92c37;
  color: #fffff3;
}

.logo:active {
  background-color: #ba2632;
  color: #eefff8;
}


.top-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.top-block:nth-child(2) {
  padding-left: 0px;
}



.top-block:nth-child(3) {
  padding-left: 0px;
  margin-right: 4px;
}

.top-block:nth-child(4) {
  padding-left: 0px;
}

.top-block:last-child {
  margin-left: 0px;
  margin-right: 0px;
}


.search-input {
  position: relative;
  display: block;
  background-color: #293448;
  color: #fcffff;
  border: 0;
  font-weight: bold;
  width: 230px;
  padding: 11px 0px 12px 44px;
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: 5% 49%;
}

.top-align-underline {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.logo-underline {
  width: 220px;
  height: 5px;
  background-color: #b52933;
  margin-bottom: -5px;
}

.logo:hover .logo-underline {
 background-color: #9a212a;
}

.logo:active .logo-underline {
 background-color: #8e1e26;
}

.icon-container {
  display: block;
}

.cart {
  align-self: center;
  width: 140px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 13px;
  flex-grow: 0;

}

.active {
  align-self: center;
  width: 140px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 13px;
  flex-grow: 0;
  background-color: #ee3643;
}


.bookmark-placement{
  margin-right: 2px;
}

.internal-content {
  margin-right: 30px;
}

.small-icon {
  align-self: center;
  object-fit: cover;
}

a {

  color: white;
  text-decoration: none;
}

.bookmark-icon {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 12px;
  left: 5px;

  background: url("../img/icon-bookmark.png") no-repeat 0 0;
}

.cart-icon {
  width: 20px;
  height: 20px;

  position: absolute;

  top: 12px;
  left: 18px;
  background: url("../img/cart-icon.png") no-repeat 0 0;
}


.search-input-label {
  display: block;
  margin-left: 17px;
  color: white;
  font-size: 17px;
}

.header-link {
  display: block;
  /*  */
}

.header-link-bookmarks {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 20px;
  text-align: center;
  vertical-align: center;
  display: block;

}

.header-link-cart {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 49px;
  padding-right: 26px;
  text-align: center;
  vertical-align: center;
  margin: 0;
  display: block;
}

.header-link-active {
  background-color: #ee3643;
  margin-right: -4px;
}



.top-block .order-button {
  position: absolute;
  top: -21px;
  right: -150px;
  background-color: #63a63d;
  width: 110px;
  color: #fcffff;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 22px;
  margin: 0;
  margin: 0;
  text-align: center;
  vertical-align: center;
  display: block;
}


.top-block:nth-child(2):active {
  background-color: white;
}


.header-link-bookmarks:hover, .header-link-cart:hover, .top-block:nth-child(2):hover {
  background-color: #212a3b;
}

.header-link-bookmarks:active, .header-link-cart:active{
color: #a2a5a9;
background-color: #161d29
}

.search-input:hover {
  background-image: url("../img/icon-search-white.png");
  background-color: #212a3b;
}

.search-input:focus   {
  background-image: url("../img/icon-search-red.png");
  background-color: white;
  color: black;
}

.header-link-active:hover {
  background-color: #ca2c37;
}

.header-link-active:active {
  background-color: #ba2732;
}

.top-block:nth-child(3):hover .bookmark-icon {
  background: url("../img/icon-bookmark-white.png") no-repeat 0 0;
}

.top-block:nth-child(3):active .bookmark-icon {
  background: url("../img/icon-bookmark-click.png") no-repeat 0 0;
}

.top-block:nth-child(4):hover .cart-icon {
  background: url("../img/cart-icon-white.png") no-repeat 0 0;
}

.top-block:nth-child(4):active .cart-icon {
  background: url("../img/cart-icon-click.png") no-repeat 0 0;
}



.order-button:hover {
  background-color: #5fba2e;
}

.order-button:active {
  background-color: #518534;
}

.header-button {
  background-color: #63a63e;
  padding-left: 53px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 13px;

}

.header-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-middle-align {
  margin-top: 46px;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 0px;
}

.header-title-section {
  margin-left: 50px;
  align-self: center;
  display: inline-block;
  padding: 0px;
  vertical-align: top;
  margin-top: -8px;
}

.header-contacts {
  margin-left: 87px;
}

.header-title {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  padding-left: 2px;
}

.telephone {
  position: relative;
  border: 3px white solid;
  width: 193px;
  text-align: left;
  padding-left: 71px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 21px;
  color: #ee3643;
  margin-bottom: 3px;
}

.phone-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-phone.png") no-repeat 0 0;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-user-nav {
  position: relative;
  width: 302px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-user-nav a {
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
}

.signin-button {
  color: black;
  display: block;
  width: 302px;
  vertical-align: middle;
  text-align: left;
  position: relative;
}

.signin-button a {
  color: inherit;
  font-size: 21px;
  text-decoration: none;
}

.header-user-name {
  display: inline-block;
  margin: 0px;
  margin-left: 2px;
  width: 212px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 48px;

  background-color: white;
  background-image: url("../img/icon-user.png");
  background-position: 6% 50%;
  background-repeat: no-repeat;
}

.header-user-exit {
  display: inline-block;
  width: 40px;
  position: absolute;

  top: 0px;
  right: 0px;
  height: 44px;

  background-color: white;
  background-image: url("../img/log-out.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.header-user-name:hover {
  background-image: url("../img/icon-user-hover.png");
}

.header-user-exit:hover {
  background-image: url("../img/logout-blue.png");
  z-index: 15;

}

.header-user-name:active {
  background-image: url("../img/icon-user.png");
  color: #dbdbdb;
}

.header-user-exit:active {
  background-image: url("../img/log-out.png");
  color: #b7bfc8;
}

.user-order {
  display: inline-block;
  margin-left: 21px;
  margin-top: 8px;
  padding-right: 15px;
  background-image: url("../img/user-separate-icon.png");
  background-position: 80% 50%;
  background-repeat: no-repeat;
}

.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
  vertical-align: middle;
  margin-top: 16px;
  margin-right: 13px;
}

.user-cabinet {

  margin-top: 8px;
}

.user-order:hover, .user-cabinet:hover {
  color: #ee3643;
}

.user-order:active, .user-cabinet:active {
  color: #dbdbdb;
}

.header-user-nav .header-user-btn {
   color: black;
   background-color: white;
   display: block;
   font-size: 21px;
}

.header-user-nav .header-user-btn-signin {

  border: 0px;
  padding-left: 47px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 22px;
  cursor: pointer;
  background-image: url("../img/icon-login.png");
  background-repeat: no-repeat;
  background-position: 13% 50%;

}

.header-user-nav .header-user-btn-signup {

  padding-left: 25px;
  padding-right: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  vertical-align: middle;
}
.header-user-nav .header-user-btn-signin:hover {
  background-image: url("../img/icon-login-hover.png");
  background-repeat: no-repeat;
  background-position: 13% 50%;
}

.header-user-nav .header-user-btn-signin:active {
  background-image: url("../img/icon-login-active.png");
  background-repeat: no-repeat;
  background-position: 13% 50%;
}


.header-user-btn-signin:hover, .header-user-nav .header-user-btn-signup:hover {
  color: #ee3643;
}

.header-user-btn-signin:active, .header-user-nav .header-user-btn-signup:active {
  color: #b2b2b2;
}



.navigation-section {
  text-align: center;
}

.navigation {
  width: 940px;
  display: block;

  text-align: left;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-navigation-block {
  display: inline-block;
}

.navigation-section .navigation .header-navigation-block:first-child {
  margin-left: 25px;
}

.navigation-section .navigation .header-navigation-block:nth-child(2) {
  margin-left: 6px;
}

.navigation-section .navigation .header-navigation-block:nth-child(4) {
  margin-left: 2px;
}

.navigation-section .navigation .header-navigation-block:nth-child(5) {
  margin-left: 1px;
}

.navigation-section .navigation .header-navigation-block:nth-child(6) {
  margin-left: 4px;
}

.navigation-section .navigation .header-navigation-block:nth-child(7) {
  margin-left: 5px;
}

.header-navigation-block a {
  display: block;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 19px;
  padding-bottom: 17px;
}

.header-navigation-block a:hover {
  background-color: #293449;
}

.header-navigation-block a:active {
  background-color: #1d2739;
  color: #777d88;
}

.bread-crumps {
  display: flex;
  width: 940px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  color: black;
  padding-top: 20px;
  padding-bottom: 19px;
}

.home {
  display: inline-block;
  margin-left: -1px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("../img/icon-home.png");
  background-repeat: no-repeat;
  background-position: 0% 40%
}

.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-right-small.png");
  background-repeat: no-repeat;
  background-position: 0% 40%
}

.bread-link {
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  letter-spacing: 0.3px;

}


.catalog-bread-crump {
  margin-left: 5px;
  margin-right: 16px;
}
.tools-bread-crump {
  letter-spacing: normal;
  margin-left: 2px;
  margin-right: 19px;
}

.heavy-bread-crumps {
  margin-left: 4px;
}

.index-main {
  text-align: center;
}

.space {
  margin-left: 15px;
}

.products {
  text-align: center;
  margin-bottom: 32px;
}

.product-frame {
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
  margin-bottom: 53px;
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

.product-cell {
  position: relative;
  display: block;
  width: 300px;
  height: 123px;
  text-align: left;
}

.product-inner-frame {
  display: block;
  font-size: 14px;
  color: #fcfcfc;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 5px;
  width: 125px;
  text-align: center;
  margin-left: 25px;
  margin-top: 12px;
  background: rgba(0, 0, 0, 0.09);
  border: 5px rgba(0, 0, 0, 0.00) solid;
  border-radius: 2px 2px;
  text-decoration: none;
}

.product-inner-frame:hover {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.product-inner-frame:active {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.product-cell:nth-child(3) .product-inner-frame{
  margin-left: 23px;
}

.second-inner-block .product-inner-frame {
  margin-left: 23px;
}

.product-cell h3, .drill-title h3  {
  margin-top: 23px;
  margin-left: 23px;
  font-weight: normal;
  font-size: 25px;
  color: white;
  margin-bottom: 0px;
}

.new-label {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0px;
  right: -10px;
  background-image: url("../img/new-label.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 15;
}

.material {
  background-color: #FFBF47;
  background-image: url("../img/icon-material.png");
  background-repeat: no-repeat;
  background-position: 83.25% 53%;
}

.tools {
  background-color: #3BBCE3;
  background-image: url("../img/icon-tools.png");
  background-repeat: no-repeat;
  background-position: 87.5% 53.5%;
}

.heavy-tools {
  background-color: #DC91D8;
  background-image: url("../img/icon-heavy-tools.png");
  background-repeat: no-repeat;
  background-position: 86% 51.5%;
  margin-right: 0px;
  margin-bottom: 20px;
}

.drill {
  display: block;
  width: 620px;
  height: 266px;

  background-image: url("../img/drill-background.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  margin-right: 20px;
}

.heavy-drill {
  display: block;
  width: 620px;
  height: 266px;

  background-image: url("../img/heavy-drill-background.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  margin-right: 20px;
}

.inner-drill {
  display: block;

}


.inner-upper-drill-section {
  /* border: 1px blue solid; */
}
.inner-middle-drill-section {
  text-align: left;
  padding-top: 13px;
  padding-left: 25px;
  height: 65px;
}

.inner-bottom-drill-section {
  height: 90px;
  text-align: left;

}

.drill-text {
  margin-top: -13px;
  margin-left: 25px;
  font-size: 18px;
  color: white;
  text-align: left;
}

.drill-title {
  margin-top: 40px;
  margin-left: 25px;
  text-align: left;
  font-size: 36px;
  line-height: 0px;
  color: white;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.inner-slider-button-right {
  border: 0;
  width: 25px;
  height: 40px;
  background: transparent;
  background-image: url("../img/inner-slider-button-right-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: 524px;
}

.inner-slider-button-left {
  border: 0;
  width: 25px;
  height: 40px;
  background: transparent;
  background-image: url("../img/inner-slider-button-left-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.drill-button {
  display: inline-block;
  width: 115px;
  background-color: #ee3643;
  padding: 12px 30px 10px 49px;
  border-radius: 3px;
  margin-left: 25px;
  margin-top: 27px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  /* margin-bottom: 10px; */
}

.first-slider {
  margin-left: 72px;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.second-slider {
  margin-left: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.slider-indicator {
  border-radius: 50%;
  background-color: white;
}

.slider-indicator-show {
  border-radius: 50%;
  background-color: white;
  background-image: url("../img/slider-indicator.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.drill-button:hover {
  background-color: #ca2c37;
}

.drill-button:active {
  background-color: #ba2732;
}

.second-inner-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.discounts {
  background-color: #8ED78F;
  margin-left: auto;
  margin-bottom: 20px;
  background-image: url("../img/discount-icon.png");
  background-repeat: no-repeat;
  background-position: 81.5% 51%;
}

.delivery {
  background-color: #FFC047;
  background-image: url("../img/delivery-icon.png");
  background-repeat: no-repeat;
  background-position: 86% 53%;
  /* margin-left: auto; */
}

.second-block {
  /* border: 1px solid green; */
}

.popular-goods {
  text-align: center;
}

.section-header {
  /* padding-left: 30px; */
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F5F0;
  flex-wrap: nowrap;
  /* border: 1px black solid; */
  margin-bottom: 20px;
}

.section-header-button {
  display: block;
  background-color: #EE3643;
  font-size: 14px;
  text-transform: uppercase;
  width: 150px;
  padding: 12px 51px 10px 52px;

  border-radius: 3px;
  text-align: center;
  margin-bottom: 2px;
}

.section-header-button:hover {
  background-color: #ca2c37;
}

.section-header-button:active {
  background-color: #ba2732;
}

.button {
  background-color: #EE3643;
  width: 140px;
  border: 5px #EE3643 solid;
  border-radius: 5% 5%;
  text-align: center;
  margin-bottom: 20px;
}


.align-element:nth-child(2){
  margin-right: 24px;
}

.in-section-title {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #32425C;
  padding-left: 28px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.popular-products {
  /* border: 1px black solid; */
  margin: auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.product-text {
  font-size: 18px;
}

.popular-product-element {
  display: block;
  position: relative;

  padding-bottom: 20px;
  width: 218px;
  height: 296px;
  margin-right: 20px;
  border: 1px #EAEAEA solid;
}

.popular-product-element:first-child  {
  margin-left: 0px;
}

.popular-product-element:last-child  {
  margin-right: 0px;
}

.hidden-button-position {
  display: block;
  z-index: 1;
  position: absolute;
  top: 43px;
  left: 41px;
  width: 135px;
  height: 79px;
}

.hidden-button-buy {
  display: block;
  text-align: center;
  font-size: 14px;

  color: white;
  background-color: #63a63e;
  padding: 12px 24px 7px 28px;
  border-bottom: 3px #367315 solid;
  border-radius: 3px;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 12% 50%;
}


.product-button-bookmark {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #32425c;
  background-color: white;
  padding: 9px 20px 7px 25px;
  border: 3px #63a63e solid;
  border-radius: 3px;
  margin-top: 8px;
}

.popular-product-element:hover {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.7);
  background-color: white;
}

.popular-product-element:hover .product-element-image {
  display: none;
}

.popular-product-element:hover .hidden-button-position {
  display: block;
}

.hidden-button-buy:hover {
  background-color: #5fbb2d;
  background-image: url("../img/cart-icon-white.png");
}

.hidden-button-buy:active {
  background-color: #518534;
  background-image: url("../img/cart-icon-white.png");
}

.product-button-bookmark:hover {
  border: 3px #32425c solid;
}

.product-button-bookmark:active {
  border: 3px #c1c6ce solid;
  color: #c1c6ce;
}

.product-element-image {
  position: absolute;
  z-index: 5;
  width: 218px;
  height: 170px;
  top: 0px;
  left: 0px;
}

.old {
  position: absolute;
  display: block;
  width: 70px;
  height: 15px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.6px;
  font-size: 16px;
  font-weight: bold;
  color: #A9A9A9;
  text-decoration: line-through;
  bottom: 71px;
  left: 76px;
}

.button-position {
  position: absolute;
  bottom: -20px;
  left: 0px;
}

.product-button {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  display: block;
  font-size: 16px;
  letter-spacing: 0.6px;
  font-weight: bold;
  padding: 10px 20px 10px 37px;
  background-color: #ee3643;
  margin-left: 42px;
  margin-right: 53px;
  margin-bottom: 40px;
}

.product-button::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -19px;
  border: 19px solid #ffffff;
  border-right-width: 0;
  border-left-color: #ee3643;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.brands {
  width: 940px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.brand-cell {
  display: flex;
  width: 218px;
  height: 143px;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #EAEAEA;
  margin-bottom: 20px;
}


 .logo-icon {
  position: absolute;
  display: block;
  vertical-align: middle;
  text-align: center;
}

.brand-cell:first-child .logo-icon {
  top: 52px;
  left: 46px;
}

.brand-cell:nth-child(2) .logo-icon {
  top: 49px;
  left: 47px;
}

.brand-cell:nth-child(3) .logo-icon {
  top: 47px;
  left: 36px;
}

.brand-cell:nth-child(4) .logo-icon {
  top: 20px;
  left: 8px;
}

.brand-cell:nth-child(5) .logo-icon {
  top: 57px;
  left: 27px;
}

.brand-cell:nth-child(6) .logo-icon {
  top: 34px;
  left: 47px;
}

.brand-cell:nth-child(7) .logo-icon {
  top: 22px;
  left: 34px;
}

.brand-cell:nth-child(8) .logo-icon {
  top: 33px;
  left: 9px;
}

.brand-cell:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.brand-cell:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.brand-cell:active .logo-icon {
  opacity: 0.3;
}

.services {
  margin: auto;
  width: 100%;
  background-color: #F4F7F9;
  display: table;
  text-align: center;
  margin-bottom: 62px;
}

.service-alignment {
  width: 940px;
  display: block;
  margin: auto;
  text-align: left;
  padding-bottom: 27px;
  position: relative;
}


.upper-block {
  margin-top: 68px;
  width: 400px;
  height: 100px;
  display: block;
}

.services-header {
  font-weight: normal;
  font-size: 30px;
  text-align: left;
  margin-top: -6px;
  text-transform: uppercase;
}

.services p {
  font-family: 'Cuprum', sans-serif;
  text-align: left;
  font-size: 14.5px;
  line-height: 24px;
}

.services > .upper-block p {
  margin-top: 6px;
  margin-left: -1px;
}

.list-button-block {
  text-align: left;
  margin: auto;
  margin-top: 34px;
  margin-left: 0px;
  margin-bottom: 7px;
  padding-top: 42px;

  width: 240px;
  height: 250px;
  display: inline-block;
  vertical-align: middle;

  background-image: url("../img/shadow-box.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.service-active-button {
  font-size: 21px;
  letter-spacing: 0.5px;
  text-align: left;

  padding-left: 23px;
  padding-top: 8px;
  padding-bottom: 11px;

  width: 240px;
  height: 62px;
  display: block;
  border: 0;
  background-color: white;
  color: #32425c;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  cursor: pointer;
  box-shadow: inset  -20px 0 30px -30px black;
}

.service-button {
  font-size: 21px;
  letter-spacing: 0.5px;
  text-align: left;

  padding-left: 23px;
  padding-top: 8px;
  padding-bottom: 11px;
  width: 240px;
  height: 62px;
  display: block;
  border: 0;

  background-color: #32425c;
  color: white;
  border-top: 1px #405069 solid;
  border-bottom: 1px #293449 solid;

  cursor: pointer;
  box-shadow: inset  -20px 0 30px -30px black;
}

.service-button:hover {
  background-color: #293448;
}

.service-button:active {
  background-color: white;
  color: #304256;
}

.service-order-button {
  position: absolute;

  display: inline-block;
  width: 115px;
  background-color: #ee3643;
  padding: 12px 35px 10px 45px;
  border-radius: 3px;
  margin-top: 27px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  bottom: 113px;
  left: 320px;
}

.button-action-block  {

  margin-top: 74px;
  margin-left: 76px;
  width: 390px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
}

.service-background-delivery {
  position: absolute;
  width: 468px;
  height: 261px;

  top: 199px;
  right: 1px;

  background-image: url("../img/delivery-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.service-background-gurantee {
  position: absolute;
  width: 468px;
  height: 261px;

  top: 177px;
  right: -87px;

  background-image: url("../img/guarantee-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-background-credit {
  position: absolute;
  width: 468px;
  height: 261px;

  top: 175px;
  right: -13px;

  background-image: url("../img/credit-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.delivery-header {
  font-weight: normal;
  font-size: 35px;
  text-transform: uppercase;
  color: #32425c;
  letter-spacing: 1px;

  margin-top: -2px;
  margin-bottom: 24px;
}

.about {
  text-align: center;
}




.about-align {
  width: 949px;
  text-align: left;
  padding-bottom: 107px;
  display: block;
  margin: auto;
  vertical-align: top;
}

.about-left {
  width: 534px;
  height: 322px;
  display: inline-block;
  padding-top: 15px;
  padding-left: 5px;
  text-align: left;
  vertical-align: top;
}

.about-right {
  margin-left: 100px;
  width: 300px;
  height: 367px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.about-header {
  margin-top: 0px;
  margin-bottom: 26px;

  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}

.about p {
  font-size: 14.8px;
  line-height: 24px;
}

.about .about-text {
  margin-bottom: 10px;
  font-size: 14.4px;
  margin-top: 23px;
}

.about ul {

  vertical-align: middle;
  list-style: none;
  margin-top: 0;
  font-weight: normal;
  margin-left: -8px;
  font-size: 18px;
  line-height: 40px;
  padding-left: 44px;
  margin-bottom: 19px;
}

.about li {
  position: relative;
}

.about li:before {
    content: '';
    width: 27px;
    height: 2px;
    position: absolute;
    background-image: url('../img/bullet-img.png');
    background-size: cover;
    background-position: center;
    left: -37px;
    top: 50%;
    transform: translateY(-50%);
}

.about-right .about-header {
  margin-top: 15px;
  margin-bottom: 25px;
}

.about-image {
  margin-top: 15px;
  margin-left: 2px;
}

.about-button-map {
  display: block;
  width: 200px;
  background-color: #ee3643;
  padding: 12px 36px 10px 64px;
  border-radius: 3px;
  margin-top: 36px;
  font-size: 14px;
  margin-left: 2px;
  text-transform: uppercase;
}


.about-button {
  display: block;
  width: 145px;
  background-color: #ee3643;
  padding: 12px 35px 10px 40px;
  border-radius: 3px;
  margin-top: 26px;
  font-size: 14px;
  text-transform: uppercase;
}

.about-button:hover, .about-button-map:hover, .service-order-button:hover  {
  background-color: #c92c37;
}

.about-button:active, .about-button-map:active, .service-order-button:active {
  background-color: #ba2632;
}


.index-footer {
  text-align: center;
  background-color: #32425C;
  font-size: 18px;
}

.footer-information {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 31px;
}

.footer-logo {
  margin-top: auto;
  font-size: 30px;
  background-color: #ee3643;
  width: 220px;
  padding-top: 16px;
  padding-bottom: 13px;
  text-align: center;
  vertical-align: center;
  border-bottom:  5px #b52933 solid;
}

.footer-address, .footer-text, .feedback {
  text-align: left;
  color: white;
}

.footer-address {

  margin-top: 28px;
  margin-left: 3px;
  line-height: 24px;
  font-size: 18px;
  margin-right: 27px;
}

.footer-upper-part-align {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upper-footer-navigation{
  display: inline-block;
  padding-top: 32px;
  text-align: left;
}

.upper-footer-links {
  margin-top: 15px;
}

.upper-footer-links:hover {
  text-decoration: underline;
}

.upper-footer-links:active {
  color: #9ca6bf;
}

.upper-footer-links:first-child {
  margin-left: 55px;
}

.upper-footer-links:last-child {
  margin-right: -1px;
  margin-left: 54px;
}

.upper-footer-links:nth-child(4) {
  margin-left: 57px;
}

.upper-footer-links:nth-child(3) {
  margin-left: 55px;
}

.upper-footer-links:nth-child(2) {
  margin-left: 54px;
}


.footer-middle-part {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-flex-start;
}


.lower-footer {
  background-color: #293449;
  width: 100%;
  font-size: 16px;
}

.lower-footer-section {
  width: 940px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  position: relative;
}

.lower-footer-navigation {
  color: #FFD180;
}

.lower-footer-navigation {
  margin-top: 30px;
}

.lower-footer-navigation:hover {
  text-decoration: underline;
}

.lower-footer-navigation:active {
  color: #ab966b;
}

.footer-rights {
  text-align: left;
  margin-top: 2px;
  margin-left: 2px;
}

.footer-social {
  position: absolute;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  bottom: 26px;
  left: 391px;

}

.social{
  padding: 0;
  margin: 0;
  padding-left: 0px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
}

.vk {
  background-image: url("../img/vk-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-decoration {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #212a3a;
  width: 40px;
  height: 40px;
  /* border: 5px solid #212a3a; */
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
}

.social-decoration:hover {
  background-color: #ee3642;
}

.social-decoration:active {
  background-color: #ee3642;
}

.feedback-content {
  margin-top: 2px;
}

.feedback {
  display: inline-block;
  text-align: left;
  margin-left: 34px;
  margin-right: 14px;
}

.feedback-link {
  color: #f5c175;
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:active {
  color: #e8383b;
}

.catalog {
  background-color: #f2f6f8;
}

.drill-tool {
  width: 940px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.filter {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 20px;
}

.sort-filter {
  width: 220px;
  display: flex;
  flex-direction: column;

  align-items: stretch;
  flex-grow: 0;
  border-bottom: 2px #f7f3ec solid;
}

.sort-filter-manufacturer {
  margin-top: 5px;
  width: 220px;
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: flex-start;
  flex-grow: 0;
  border-bottom: 2px #f7f3ec solid;
  padding-bottom: 21px;
}

.sort-filter-power {
  width: 220px;
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: flex-start;
  flex-grow: 0;
  margin-top: 6px;
  padding-bottom: 30px;
}

.sort-filter-power .filter-header-price {
  letter-spacing: 0.29px;
}

.centering {
  display: inline-block;
  margin-top: 20px;
}

.sort-filter-power .first-radio {
  margin-top: 0px;
}

.sort-filter-first-checkbox  {
  margin-top: 0px;
}

.centering label {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding-left: 34px;
}

.centering label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px #c5c5c5 solid;
  border-radius: 2px;
}

.centering label input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.centering label input[type="checkbox"]:checked + .checkbox-indicator::before,
.centering label input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: #c5c5c5;
}

.centering label input[type="checkbox"]:checked + .checkbox-indicator::before {
  width: 4px;
  height: 10px;
  z-index: 1;
  transform: translateX(7px) translateY(7px) rotate(-45deg);
}

.centering label input[type="checkbox"]:checked + .checkbox-indicator::after {
  width: 4px;
  height: 20px;
  border-right: 2px white solid;
  border-left: 2px white solid;
  transform: translateX(14px) translateY(0px) rotate(45deg);
}

.centering label input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -3px;
  left: -1px;
  width: 17px;
  height: 17px;
  border: 4px #c5c5c5 solid;
  border-radius: 19px;
}

.centering label input[type="radio"]:focus + .radio-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.centering label input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #c5c5c5;

  width: 9px;
  height: 9px;
  border-radius: 50%;
  z-index: 1;
  /* transform: translateX(7px) translateY(7px) rotate(-45deg); */
}


.centering label input[type="checkbox"]:hover + .checkbox-indicator,
.centering label input[type="radio"]:hover + .radio-indicator {
  border-color: #b5b5b5 ;
}

.centering label input[type="checkbox"]:hover + .checkbox-indicator:hover::before,
.centering label input[type="checkbox"]:hover + .checkbox-indicator:hover::after,
.centering label input[type="radio"]:hover + .radio-indicator::before {
  background-color: #b5b5b5;
}

.centering label input[type="checkbox"]:disabled + .checkbox-indicator,
.centering label input[type="radio"]:disabled + .radio-indicator {
  border-color:  #e9e9e9;
}

.centering label input[type="checkbox"]:disabled + .checkbox-indicator::before,
.centering label input[type="checkbox"]:disabled + .checkbox-indicator::after,
.centering label input[type="radio"]:disabled + .radio-indicator::before
{
  background-color:  #e9e9e9;
}

.centering label input[type="radio"]:disabled  ~ .radio-text,
.centering label input[type="checkbox"]:disabled ~ .checkbox-text{
  color: #e9e9e9;
}

.centering label input[type="checkbox"]:disabled + .checkbox-indicator:hover::before,
.centering label input[type="checkbox"]:disabled + .checkbox-indicator:hover::after,
.centering label input[type="radio"]:disabled + .radio-indicator:hover::before {
  background-color:  #e9e9e9;
}


.sorting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 700px;
}

.sorting-page {
  display: flex;
  justify-content: flex-start;
}

.page-button {
  color: black;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  padding-top: 11px;
  padding-bottom: 11px;

  padding-left: 15px;
  padding-right: 14px;
  border: 1px #e5e5e5 solid;
  border-radius: 2px 2px;
  margin-right: 10px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  color: black;
  padding: 0;
  width: 138px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  border: 1px #e5e5e5 solid;
  border-radius: 2px 2px;
  margin-right: 10px;
  margin-top: 49px;

}

.page-button:hover {
  border-color: #bdc6ca;
}

.page-button:active {
  border-color: #ee3643;
}

.page-button:last-child {
  padding: 0;
  width: 138px;
  padding-top: 11px;
  text-align: center;
}

.active-page {
  color: white;
  border-color: #ee3643;
  background-color: #ee3643;
}


.goods-list {
  padding: 0;
  display: flex;

  justify-content: flex-start;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 32px;

}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;

}

.goods-text {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-top: 179px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}


.new-price {
  color: white;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  width: 140px;
  background-color: #ee3643;
  border: 5px #EE3643 solid;
  border-radius: 5% 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

.good-container {
  display: block;
  position: relative;
  padding-bottom: 20px;
  width: 218px;
  height: 296px;
  border: 1px #EAEAEA solid;
  margin-bottom: 20px;
  margin-left: 20px;
}

.good-container:hover {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.7);
  background-color: white;
}

.good-container:hover .product-element-image {
  display: none;
}


.filter-header-filter {
  display: flex;
  justify-content: flex-start;
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;

}

.filter-header-price {
  padding-left: 0;
  margin-left: 0;
  margin-right: auto;
  font-family: 'PT Sans', sans-serif;

  font-weight: bold;
  font-size: 17px;
  padding-top: 17px;
  padding-bottom: 19px;
}

.price-range {
  display: block;
  position: relative;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  outline: none;
  height: 80px;
}

.range-input {
  position: absolute;
  left: 20px;
  top: 39px;
  width: 180px;
  cursor: pointer;
  -webkit-appearance: none;
}

.range-input::-webkit-slider-runnable-track {
  height: 2px;
  background: #00ca74;
  z-index: 0;
}

.range-input::-webkit-slider-thumb {
  position: relative;
  height: 20px;
  width: 20px;
  transform: translateY(-8px);
  z-index: 2;
  outline: 0;
  -webkit-appearance: none;

  border-radius: 20px;
  background: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);;
}


.price-range-label {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.price-input {
  display: inline-block;
  width: 95px;
  padding-top: 8px;
  margin-bottom: 22px;
  padding-bottom: 12px;
  background-color: #f7f3ec;
  font-size: 17px;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}
.hyfen {
  display: inline-block;
  width: 10px;
  transform: translateY(8px);

}

.price-input:nth-child(1) {
  width: 49px;
  padding-left: 46px;

}

.second-label {
  width: 70px;
  padding-left: 25px;
}

.filter-header {
  display: flex;
  justify-content: flex-start;
  padding-left: 19px;
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 11px;
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  align-content: stretch;
  align-content: center;
  margin-bottom: 20px;
}

.filter-price {
  color: #acaaa5;
  border-bottom: 1px #ee3643 dotted;
  margin-left: 140px;
}

.filter-type {
  margin-left: 70px;
  color: #acaaa5;
  border-bottom: 1px #ee3643 dotted;
}

.filter-function {
  margin-left: 66px;
  color: #acaaa5;
  border-bottom: 1px #ee3643 dotted;
}

.filter-price:hover, .filter-type:hover, .filter-function:hover {
  color: black;
  border-bottom: 1px #ee3643 solid;
}

 .link-active, .filter-price:active, .filter-type:active, .filter-function:active {
  border-bottom: 0;
  color: #ee3643;
}

.up-sort {
  width: 13px;
  height: 13px;
  margin-left: 46px;
  background-image: url("../img/icon-up-dir.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}


.down-sort {
  width: 13px;
  height: 13px;
  margin-left: 19px;
  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.up-sort:hover {
  background-image: url("../img/icon-up-dir-hover.png");
}

.down-sort:hover {
  background-image: url("../img/icon-down-dir-hover.png");
}

.up-sort:active, .up-sort-active {
  background-image: url("../img/icon-up-dir-active.png");
}

.down-sort:active, .down-sort-active {
  background-image: url("../img/icon-down-dir-active.png");
}


.good-info-background {
  margin-top: 60px;
  width: 100%;
  background-color: #f2f6f8;
}

.about-goods {
  width: 940px;
  padding-top: 32px;
  padding-bottom: 55px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.title-about-goods {
  font-size: 30.5px;
  text-transform: uppercase;
  font-weight: normal;
}

.text-about-goods {
  margin-top: -7px;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
}

.hide-window {
  display: none;
}

.show-window {
  display: block;
}

.modal {
  position: fixed;
  color: black;
  background-color: white;
}

.write-us-window {

  font-size: 18px;
  line-height: 18px;
  bottom: 201px;
  left: 50%;
  margin-left: -310px;
  width: 460px;
  padding: 28px 80px 37px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border-top: 7px solid #ff5358;
  border-bottom: 112px solid #f4f4f4;

  z-index: 19;

}

.close-button {
  position: absolute;
  top: 8px;
  right: 13px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.close-button::before, .close-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 27px;
  height: 4px;

  background-color: #ee3643;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.login-main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.input-form {
  text-align: left;
  margin-top: 19px;
}

.full-input-form {
  margin-top: 21px;
  text-align: left;
  flex-grow: 1;
}

.text-label {
  font-weight: normal;
  display: block;
  margin-bottom: 17px;
  margin-left: 2px;

}

.login-text {
  margin-top: -8px;
  padding: 10px 14px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  width: 188px;
}

.login-letter-text {
  display: block;
  font-family: 'PT Sans', sans-serif;
  padding: 10px 14px 2px;
  margin-top: -8px;
  font-size: 13px;
  text-align: left;
  vertical-align: top;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  width: 428px;
}

.submit-form {
  position: absolute;
  bottom: -75px;
  left: 80px;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  width: 460px;
  height: 38px;

  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #ee3643;
  color: white;
  text-align: center;
  cursor: pointer;
}

.map-window {

  z-index: 19;
  font-size: 18px;
  line-height: 18px;
  bottom: 357px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: auto;
  padding: 0;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.7);
}

.map-dipslay-frame {
 border: 0;
}

.map-close-button {
  position: absolute;
  top: 8px;
  right: 13px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.map-close-button::before, .map-close-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 27px;
  height: 4px;

  background-color: #ee3643;
}

.map-close-button::before {
  transform: rotate(45deg);
}

.map-close-button::after {
  transform: rotate(-45deg);
}


.catalog-popup-window {
  font-size: 18px;
  line-height: 18px;
  top: 411px;
  left: 50%;
  margin-left: -310px;
  width: 460px;
  padding: 28px 80px 74px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border-top: 7px solid #ff5358;
  border-bottom: 112px solid #f4f4f4;
  z-index: 19;
}

.catalog-popup-close-button {
  position: absolute;
  top: 8px;
  right: 13px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.catalog-popup-close-button::before, .catalog-popup-close-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 27px;
  height: 4px;

  background-color: #ee3643;
}

.catalog-popup-close-button::before {
  transform: rotate(45deg);
}

.catalog-popup-close-button::after {
  transform: rotate(-45deg);
}

.popup-announsment {
  position: relative;
  font-size: 30px;
  margin-top: 43px;
  margin-left: 55px;
  letter-spacing: 0.1px;
}

.popup-image {
  position: absolute;
  width: 68px;
  height: 68px;
  top: -23px;
  left: -54px;
  background-image: url("../img/catalog-popup-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.popup-confirm-order-button {
  position: absolute;
  bottom: -75px;
  left: 80px;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: white;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 8px;
}

.popup-shop-continue-button {
  position: absolute;
  bottom: -75px;
  left: 320px;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  width: 220px;
  height: 38px;
  background-color: white;
  color: black;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 8px;
}
