
body {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  padding: 0px;

}
.visually-hidden {
  position: absolute;
  font-size: 1px;
  color: transparent;
}

.header {
  background-color: #f3f7f9;
  padding-bottom: 60px;
  text-align: center;
}

.header-top {
  text-align: center;
  background-color: #243449;
  width: 100%;
  margin-top: 0px auto;
}


.header-info {
  text-align: center;
}

.logo {
  font-size: 21px;
  background-color: #ee3643;
  width: 220px;
  height: 47px;
  text-align: center;
  vertical-align: center;
}

.top-elements {
  display: inline-block;
}

.logo-style  {
  border-bottom: 5px #B52933 solid;
}

a {
  color: white;
  text-decoration: none;
}

.search-input {
  color: white;
  font-size: 17px;
}

.header-info {
  height: 158px;
}

.header-title-section {

}

.header-contacts {
  margin-top: 46px;
}

.header-user-nav {

}

.middle-top-element {
  display: inline-block;
}

.header-title {
  text-align: left;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.telephone {
  border: 2px white solid;
  width: 270px;
  height: 45px;
  text-align: center;
  padding-top: 13px;
  font-size: 21px;
  color: #ee3643;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-user-btn {
   color: black;
   background-color: white;
   font-size: 21px;
}

.navigation-section {
  text-align: center;

}

.navigation {
  margin: auto;
  width: 940px;
  height: 60px;
  background-color: #243449;
  border-bottom: 5px solid #293449;
}

.header-navigation-block {
  display: inline-block;
  /* margin-top: 39px; */
}

.products {
  text-align: center;
  margin-bottom: 53px;
}

.product-frame {
  margin: auto;
  margin-top: 60px;
  min-width: 940px;
  min-height: 409px;
  height: 60px;
  /* border: 1px solid black; */
  display: table;
}

.product-inner-frame {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}


h3 .product-cell, h3 .drill-title  {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.product-cell {
  display: inline-block;
  width: 300px;
  min-height: 123px;
}

.product-cell-text {
  font-size: 24px;
  color: white;
}

.product-cell-text:nth-child(4) {
  margin-top: 25px;
}

.block {
  display: inline-block;
  vertical-align: top;
}

.first-block {
  margin-bottom: 0px;
}

.material {
  background-color: #FFBF47;
  margin-left: 0px;
  margin-right: 20px;
}

.tools {
  background-color: #3BBCE3;
  margin-right: 20px;
}

.heavy-tools {
  background-color: #DC91D8;
  margin-right: 0px;
  margin-bottom: 0px;
}

.drill {
  background-color: black;
  background: url('img/drill-background.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 620px;
  height: 266px;
  margin-right: 20px;
  margin-top: 20px;
  /* border: 1px red solid; */
}

.drill-text {
  margin-top: 5px;
  margin-left: 25px;
  font-size: 18px;
  color: white;
  text-align: left;
}

.drill-title {
  margin-top: 20px;
  margin-left: 25px;
  text-align: left;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

.inner-drill {
  display: block;
}

.inner-upper-drill-section {

}

.second-inner-block {
  /* border: 1px black solid; */
}

.column {
  width: 300px;
  height: 123px;
  display: block;
  margin-left: 0px;
  margin-top: 20px;
}

.discounts {
  background-color: #8ED78F;
}

.delivery {
  background-color: #FFC047;
}

.second-block {
  /* border: 1px solid green; */
}

.popular-goods {
  text-align: center;
}

.section-header {
  padding-left: 30px;
  margin: auto;
  width: 940px;
  height: 89px;
  background-color: #F9F5F0;
  /* border: 1px black solid; */
  margin-bottom: 21px;
}

.button {
  background-color: #EE3643;
  width: 253px;
  height: 38px;
  radius: 5% 5%;
  text-align: center;
  padding: 5px;
}
.section-header h2  {
  text-align: left;
  font-size: 30px;
}

.align-element {
  display: inline-block;
  vertical-align: center;
}

.align-element:first-child {
 margin-right: 269px;
 margin-left: 30px;
}

.align-element:last-child {
 margin-right: 24px;
}

.in-section-title {
  font-size: 30px;
  font-style: normal;
  text-transform: uppercase;
  color: #32425C;
}

.popular-products {
  /* border: 1px black solid; */
  margin: auto;
  min-width: 940px;
  display: table;
  margin-bottom: 21px;
}

.product-text {
  font-size: 18px;
}

.price {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.old {
  color: #A9A9A9;
  text-decoration: line-through
}
.popular-product-element {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 318px;
  margin-right: 20px;
  border: 1px #EAEAEA solid;
}
.popular-product-element:first-child  {
  margin-left: 0px;
}

.popular-product-element:last-child  {
  margin-right: 0px;
}

.brands {
  margin: auto;
  width: 965px;
  height: 310px;
  /* border: 1px solid black; */
  text-align: left;
  margin-bottom: 85px;
}

.brand-cell {
  width: 220px;
  height: 145px;
  display: inline-block;
  border: 1px solid #EAEAEA;
  margin-right: 20px;
  vertical-align: top;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.brand-cell:nth-child(5), .brand-cell:nth-child(6), .brand-cell:nth-child(7), .brand-cell:nth-child(8) {
  margin-right: 20px;
  margin-top: 20px;
}

.brand-cell:nth-child(4) {
  margin-right: 0px;
}

.brand-cell:nth-child(8) {
  margin-right: 0px;
}
a.logo-icon {
  /* border: 1px pink solid; */
  margin-top: center;
  margin-bottom: center;
  vertical-align: center;
}

img.logo-icon {
  margin-top: center;
  margin-bottom: center;
  vertical-align: center;
  image-position: 50% 50%;
}

.services {
  margin: auto;
  width: 100%;
  background-color: #F4F7F9;
  display: table;
  text-align: center;
  margin-bottom: 82px;
}

.service-alignment {
  width: 940px;
  display: block;
  margin: auto;
  text-align: left;
  /* border: 1px solid black; */
  padding-bottom: 99px;
}


.upper-block {
  /* border: 1px solid black; */
  margin-top: 68px;
  width: 400px;
  height: 100px;
  display: block;
  padding: 1px;
}

.services-header {
  text-align: left;
  margin: 1px;
  text-transform: uppercase;
}

.services-paragraph {
  text-align: left;
}

.service {
  color: black;
}

.list-button-block {
  text-align: left;
  margin: auto;
  margin-top: 74px;
  margin-left: 0px
  margin-bottom: 99px;
  /* border: 1px black solid; */
  width: 240px;
  height: 183px;
  display: inline-block;
  vertical-align: top;
}

.button-action-block  {
  padding: 1px;
  margin-top: 74px;
  margin-left: 80px;
  width: 280px;
  height: 150px;
  /* border: 1px black solid; */
  display: inline-block;
  vertical-align: top;
}

.about {
  /* margin: auto; */
  text-align: center;
}

.about-align {
  width: 949px;
  text-align: left;
  padding-bottom: 86px;
  /* border: 1px black solid; */
  display: table;
  margin: auto;
  vertical-align: top;
}

.about-left {
  width: 522px;
  height: 322px;
  display: inline-block;
  /* border: 1px black solid; */
  text-align: left
  padding: 1px;
  vertical-align: top;
}

.about-right {
  margin-left: 121px;
  width: 300px;
  height: 367px;
  display: inline-block;
  /* border: 1px black solid; */
  text-align: left
  padding: 1px;
  vertical-align: top;
}

.index-footer {
  text-align: center;
  background-color: #32425C;
  font-size: 18px;
}

.footer-information {
  margin: auto;
  width: 940px;
  text-align: left;
  /* border: 1px solid red; */
  margin-bottom: 53px;
}

.footer-upper-part {

}

.footer-address, .footer-text, .feedback {
  color: white;
}

.footer-upper-part-align {

}

.block-footer {
  display: inline-block;
  vertical-align: top;
}

.lower-footer {
  background-color: #293449;
  width: 100%;
  text-align: center;
  vertical-align: top;
}

.lower-footer-section {
  margin: auto;
  width: 940px;
  text-align: left;
  height: 107px;
}

.lower-footer-navigation, .email {
  color: #FFD180;
}

.footer-rights {
  display: inline-block;
  /* border: 1px yellow solid; */
}

.footer-social {
  display: inline-block;
  /* border: 1px yellow solid; */
}

.footer-developer {
  display: inline-block;
  /* border: 1px yellow solid; */
}
.feedback {
  display: inline-block;
}
